@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heroButton {
    @apply text-sm px-6 py-2 border border-[#d6c7c5af] m-2 rounded-md text-[#d2d5e2] transition-all  hover:text-[#f7eded] bg-[#237cb89c] hover:bg-[#237cb8] hover:border-[#8e948993] uppercase tracking-widest;
  }

  .contactInput {
    @apply outline-none   bg-[#ccccc4] rounded-sm border-b px-6 py-4 text-[#5794a3]/20 border-[#50421e] text-[#fdffdb]  placeholder-[#807e6b] transition-all focus:border-[#f7abba]/40 hover:border-[#f7abba]/40;
  }
}
